* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
h4,
h3,
ul {
  font-weight: normal;
}
a {
  text-decoration: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.15;
  background: url(../assets/images/bg.jpg) no-repeat 0 0 / cover;
}
.pannel {
  position: relative;
  border: 15px solid transparent;
  border-width: 51px 38px 20px 132px;
  border-image-source: url(../assets/images/border.png);
  border-image-slice: 51 38 20 132;
  margin-bottom: 18px;
}
.inner {
  position: absolute;
  top: -51px;
  left: -132px;
  right: -38px;
  bottom: -20px;
  padding: 22px 34px;
}
.pannel h3 {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
}
